.confirmwrapper{
   
    height: 300px;
    /* border: 1px solid #333; */
    border-radius: 12px;
    margin: 20px;  
  
    font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  flex: 0 45%;
  /* border: 1px solid blueviolet; */

}

.confirm-heading {
    display:flex;
    justify-content:center;
    margin-top:15px ;  
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.doctor-details{
    margin: 20px;
    display: flex;
}
.doctorimage{
    border-radius: 8px;

} 
.doctor-desc
{
display: flex;
flex-direction: column;
margin: 10px 30px;
line-height: 3rem;
}

.wrapper{
    display: flex;
     flex-direction: row;
     /* border: 2px solid red; */
}

.timing
{
/* display: flex; */
flex-direction: row;
display: flex;
/* flex: 0 50%;  */
margin: 20px;
margin-top: -40px;

}

.selectTime{
    margin-left: 10%;
    margin-top: -10px;
}
.selectTime button 
{
padding: 10px;
border-radius: 5px;

border: none;
margin:10px 20px;
margin-left: 40px;
/* background-color: ; */
background-color: #65b031;
color: #f1f1f1;
}

.checkBoxesContainer{
    /* border: 1px solid slateblue; */
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    line-height: 40px;
   
}

.checkBoxes
{
/* display: flex; */
display: table;

max-width:fit-content;
}

input[type='checkbox']{
    /* margin-left: 20px; */
    width: 18px;
    height: 18px;
    margin: 20px;

}

.checkBoxes button {
    padding:  18px 30px;
    border: none;
    margin: 10px;
}
 .buttonActive{
    background-color: red;
    color: #f1f1f1;
}
.mode{
    display: flex;
    flex-direction: column;
  
    margin: 20px;
   margin-top: 0px;
}

.confirm{
    height: 98vh; 
    width: 450px;
    margin: auto;
    margin-bottom: 120px;
    border-radius: 8px;
    background-color: #F8F8F8;
}

.confirmbtn{
    display: flex;
  justify-content: center;
  padding-bottom: 20px;
  
}
.cnbtn{
    background-color: #65b031;
    padding:10px 90px;
    border-radius: 8px;
     border: none;
    color: white;
}

.cnbtn:disabled{
    background-color: #97c178;
    cursor:not-allowed;
}
.cnbtn:hover{
    cursor: pointer;
}

.datePicker{
    height: 40px;
    margin-top: 0px;
}

@media screen and (max-width:800px) {
    .checkBoxes button {
        padding:  10px 10px;
    
       

    }
   
    .timing{
        margin-top: 40px;
    }
}