@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body{
    background-color: #C0CBD8;
}

.dashboardWrappers{
    width: 90%;
    /* background-color: #eeecec2d; */
    height: auto;
    /* margin: 40px; */
    border-radius: 8px;
   
    padding-top: 40px;
    overflow-x: hidden;    
background-color:'#DDE1E4' !important;
}

.dashboard
{
margin:40px;
display: flex;
justify-content: space-around;
flex-wrap: wrap;

}
.detailsCard
{
width: 300px;
height: 120px;
display: flex;
flex-direction: column;
align-items: center;
border-radius: 8px;
background-color: #E4EEF1;
justify-content: center;
/* box-shadow: 5px 5px 20px rgba(128, 128, 128, 0.563); */
margin-right: 30px;
margin-top: -10px;
}

@media screen and (max-width:800px) {
    .dashboard{
        margin-left: 0px;
        
    }
    .detailsCard{
        width: 100%;
        margin: 10px 25px;
        
    }
}

.dashboardtable{
    margin: 40px;
    padding: 10px;
    width: 90%;
    margin-right: 20px;
    border-collapse:collapse;
    /* margin-top: 20px; */
    border-radius: 13px;

    background-color:#fff;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-top: 60px;
    border: 1px solid rgba(204, 201, 201, 0.322);
    border-radius: 8px;
}

.dashboardtable thead {
  background-color: #66798F;
  color: #ffffff;
}
.dashboardtable  th , tr {

    border: 1px solid rgba(204, 201, 201, 0.322);
    padding: 10px;
}

.dashboardtable td {
    text-align: center;
    /* border: 1px solid magenta; */
    padding: 10px;
    border: 1px solid #d6d3d3;

}

td button {
padding: 10px 18px;
margin-left: 15px;
border: none;
border-radius: 6px;

}
td button:hover{
    cursor: pointer;
}
td button:nth-child(1){
    background-color: #65b031;
    color: #f1f1f1;
}
td button:nth-child(2){
    background-color: red;
    color: #f1f1f1;
}
tr:nth-child(even){
    background-color: #f3f0f095;
}

tr td>a{
text-decoration: underline;
color: hsla(260, 23%, 3%, 0.88);
}
td>a:hover{
    cursor: pointer;
}

.checkandrejectbox{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
   cursor: pointer;
}

.checksuccess{
    background-color:  hsla(110, 76%, 44%, 0.33);
}
.closereject{
    background-color: hsla(27, 78%, 49%, 0.8);
}

.userwrapper{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 80%;
    background-color: #C1CAD6;
    height: auto;
    border: 1px solid #d6d3d3;
    border-radius: 8px;
    padding: 20px;
    flex-wrap: wrap;
    margin-top: 25px;
    color: white;
}
 
.userwrapper:last-child{
    margin-bottom: 120px;
}

[class^='col']{
flex-direction: column;
color: #333;
display: flex;
flex: 33% 0;
line-height: 2rem;

}
.detailstitle {
    display:contents;
   width: 80px;
    border: 1px solid green;
}

.col-row{
    display: flex;
}

@media screen and (max-width:800px) {
    
    .userwrapper{
        display: flex;
        flex-direction: column;
     
    }
    [class^='col']{
     line-height: 40px;
    }
}