@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.searchBox{
    margin-left: auto;
    /* border: 1px solid slateblue; */
    display: flex;
    justify-content: flex-end;
    margin-right: 90px;
   
}
.searchinputbox{
    width: 350px;
    height: 38px;
    margin-right: 20px;
    border-radius: 8px;
    border: none;
    border: 1px solid #afb2baa3;
    
}
.searchinputbox:focus{
    outline: none;
}

.dashboardWrapper{
    /* overflow-x: scroll ; */
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-left: auto;
   
}
.addbtn{
    margin-left: 25px;
    padding:10px 30px;
    border-radius: 4px;
    border: none;
    background-color: #2525b5cd;
    color: #ffffff;
     margin-top: 20px;
}
.addbtn:hover,.sebtn:hover{
    cursor: pointer;
}
.sebtn
{
    padding:10px 35px;
    border-radius: 4px;
    margin-top: 20px;
    border: none;
    background-color: #afb2baa3;
    color: #ffffff;
    margin-right: 10px;
}


.dctable{
    /* margin: 40px; */
    margin-top: 40px;
    width: 100%;
    border: 2px solid slateblue;
    overflow-x: scroll !important;
    border-collapse: collapse;
    border: 1px solid gray;

}

.dctable thead tr{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}


.dctable tr td{
    padding: 15px 20px;
    font-size: 14px;
}

.editinput
{
padding:11px 8px;
}

.notify{
    background-color: rgba(238, 48, 48, 0.562);
    color:#fff  !important;

}

.successmessage{
    background-color: #65b031;
    color: #fff;
}

.editbtn {
    background-color:  hsla(117, 68%, 69%, 0.88) !important;
   
    padding: 7px 20px;
    font-size: 0.98em;
   
    color: var(--dark-color-one) !important;
}

.doctorTable{
    overflow-x: scroll;
    margin: 0 80px;
   margin-top: 60px;
   min-width:80%;  
  }

.modalinput{
width: 100%;
padding: 12px;
border-radius: 5px;
border: 0.9px solid gray;
margin-top: 20px;
}

.selectanddate{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.selectanddatewithoutdoc{
    margin-left: 30px;
}

.rolesbtn{
    background-color: yellowgreen;
    padding: 2px 10px;
    border-radius:8px;
    text-align:center;
    color: #ffffff;
}